<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>
</head>
<body>
	<input type="text" name="letra" maxlength="1" width="10px">
	<label name="palabra"><%= session["tstrangulo"].verPalabra %></label>
</body>
</html>