<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>
</head>
<body>
	<center>
		<form method="post" action="validar">
			<table style="text-align: center">
				<tr>
					<td><h1>T-STRANGULO</h1></td>
				</tr>
				<tr>
					<td><h1 style="color:red"><%= session["tstrangulo"].verEstadoJuego %></h1></td>
				</tr>
				<tr>
					<td><input type="text" name="letra" maxlength="1" size="3px" style="text-transform: uppercase"></td>
				</tr>
				<tr>
					<td style="padding-top: 50px" colspan="2"><input type="submit" name="validar" value="validar" /></td>
				</tr>			
				<tr>
					<td><label name="palabra" style="font-size: 100px"><%= session["tstrangulo"].verPalabra %></label></td>
				</tr>
			</table>
		</form>
	</center>
</body>
</html>